.marketing-hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 25rem on mondo screen */
  padding: 25rem 0 4.5rem;
  line-height: 1.125;
  color: #ffffff;

  & h1 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
  }

  & h2 {
    font-size: 3.4375em;
    font-weight: 300;
    margin: 0.35em 0 0.5em;
  }

  & p {
    font-size: 1.25em;
    line-height: 1.35;
    max-width: 30rem;
  }

  & button {
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.5;
    background-color: #50e3c2;
    margin-top: 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    border-radius: 2em;
    border: 0px solid;
    outline: none !important;

    &:hover,
    &:focus {
      /* border-color: #646cff; */
      background-color: #69fbda;
      /* outline: none; */
      box-shadow: #41a08a 0px 0px 2px 1px;
    }
    &:active {
      /* border-color: #646cff; */
      background-color: #44b79d;
      box-shadow: inset #41a08a 0px 0px 2px 1px;
    }
  }
}
