.marketing-hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em 0 2em;

  line-height: 1.125;
  color: #ffffff;

  & h1 {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
  }

  & h2 {
    font-size: 1.35em;
    line-height: 1.4;
    font-weight: 300;
    margin: 0.25em 0 0.5em;
  }

  & p {
    font-size: 0.875em;
    line-height: 1.5;
    max-width: 24em;
    margin-bottom: 1.25em;
  }

  & button {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5;
    background-color: #50e3c2;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    border-radius: 2em;
    border: 0px solid;
    outline: none !important;
    padding: 0.35em 1.5em;

    &:hover {
      background-color: #69fbda;
      box-shadow: #41a08a 0px 0px 2px 1px;
    }

    &:focus {
      background-color: #69fbda;
      box-shadow: #41a08a 0px 0px 2px 1px;
    }

    &:active {
      background-color: #44b79d;
      box-shadow: inset #41a08a 0px 0px 2px 1px;
    }
  }
}

@media (min-width: 480px) {
  .marketing-hero {
    & h1 {
      font-size: 1.125em;
    }
    & h2 {
      font-size: 1.35em;
    }
    & p {
      font-size: 1em;
    }
  }
}

@media (min-width: 600px) {
  .marketing-hero {
    padding: 16em 0 4em;

    & button {
      font-size: 1.125em;
    }

    & h1 {
      font-size: 1.25em;
    }

    & h2 {
      font-size: 2.5em;
    }

    & p {
      font-size: 1.1em;
    }
  }
}

@media (min-width: 1100px) {
  .marketing-hero {
    padding: 22em 0 5.5em;

    & h1 {
      font-size: 1.5em;
    }

    & h2 {
      font-size: 3.4375em;
      line-height: 1.2;
    }

    & p {
      font-size: 1.25em;
      line-height: 1.35;
    }
  }
}
